@import url('../fonts/fonts_icon/style.css');

* {
	font-family: 'Museo Sans', 'sans serif';
}
.container{
	position: relative;
	width: 942px;
	margin: 0 auto;
}
@import 'base/variable';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/adventages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/overley';
@import 'blocks/media';







