.adventages {
	min-height: 473px;
	padding: 73px 0 65px 0;

	&__icons {
		display: flex;
		justify-content: space-between;
	}

	&__icon {
		margin-top: 65px;
		width: 276px;
		text-align: center;
		color: #0D0D0D;

		i {
			font-size: 70px;
			color: $main-color;
		}
	}

	&__title {
		margin-top: 35px;
		font-weight: 700;
		font-size: 18px;
	}
	&__descr{
		margin-top: 20px;
		font-size: 14px;
		a{
			color: $main-color;
		}
	}
}