.consultation {
	min-height: 680px;
	padding: 100px 0 108px 0;
	background: url('../img/bg2_cross.png') center (center/ cover) no-repeat;

	&__description {
		text-align: left;
		font-weight: 300;
		font-size: 20px;
		color: #FFFFFF;
	}
}